{% extends "home/base.html" %}
{% load static %}
{% block content %}
<style>
    .content{
        height:100%;
        animation: fadein 2s;
			-moz-animation: fadein 2s; /* Firefox */
			-webkit-animation: fadein 2s; /* Safari and Chrome */
			-o-animation: fadein 2s; /* Opera */
		}
		@keyframes fadein {
			from {
				opacity:0;
			}
			to {
				opacity:1;
			}
		}
		@-moz-keyframes fadein { /* Firefox */
			from {
				opacity:0;
			}
			to {
				opacity:1;
			}
		}
		@-webkit-keyframes fadein { /* Safari and Chrome */
			from {
				opacity:0;
			}
			to {
				opacity:1;
			}
		}
		@-o-keyframes fadein { /* Opera */
			from {
				opacity:0;
			}
			to {
				opacity: 1;
			}
		}
		.section-stats{
			margin-top:1em;
		}
		.btn-block{
			margin-top:2em;
		}
		.filter{
			padding:1em 0.5em;
			/*background-color: rgba(179, 179, 179, 0.24);*/
		}
		@media screen and (max-width:841px){
			.card-text{
				font-size: 1.5rem;
			}
		}
		@media screen and (max-width:735px){
			.card-text{
				font-size: 1.2rem;
			}
			.card-title{
				font-size: 1rem;
			}
		}
    .row{
        margin:1em 2em;
        text-align:center;
        font-family: 'Roboto', sans-serif !important;
    }
    img{
        width:40%;
        height:auto;
        margin-bottom: 20px;
    }
    h4{
        padding: 3em;
    }
	.col-md-4{
		margin-top:2em;
	}
</style>
<div class="content">
    <h4>PayUP - money made easy.</h4>
    <div class="row">
		<div class="col-md-4">
						<img src="{% static 'assets/record.png' %}" alt="money">
						<h2>Count Your Money</h2>
						<p>Keep track of all your transactions on your <strong>Home</strong> page.
						Fill-out the form and your balance will be automatically updated.</p>
				
			</div>
			<div class="col-md-4">
						<img src="{% static 'assets/eye.png' %}" alt="balance scale">
						<h2>Check Your Balance</h2>
						<p>Check out all the transactions you've made on your <strong>Profile</strong>
						page. You can filter the results by tag or timeline.</p>
				
			</div>
		
			<div class="col-md-4">
						<img src="{% static 'assets/peso.png' %}" alt="graph">
						<h2>Control Your Finances</h2>
						<p>The <strong>Statistics</strong> page shows the breakdown of all your
						 income and expenses in an easy to understand graph.</p>                    
			</div>
    </div>
    
</div>
{% endblock %}