{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block contentreg %}
	<style>
	.content-section{
		margin:auto auto;
		padding:1em;
		text-align: center;
	}
	form{
		background-color:#F1F1F1;
		border: 0.5px solid #707070;
		padding: 2em;
		margin: 2em 4em 0.5em;
		text-align:left;
	}
	button.btn{
		border: 1px #36D137 solid;
		background-color:#f1f1f1;
		color:#36D137;
	}
	button.btn:hover{
		background-color:#36D137;
		color:white;
	}
	</style>

	<div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Login</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn" type="submit">Log In</button>
			</div>
		</form>
		<div class="border=top pt-3">
			<small class="text-muted">
				Create an account. <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
			</small>
		</div>
	</div>
{% endblock %}